---
attributions:
  - text: Computation Institute
    link:
  - text: TACC
    link:
  - text: iCAIR
    link:
  - text: The Ohio State University
    link:
  - text: UTSA
    link:
  - text: NSF
    link:
---

<footer>
  <div class="jumbotron">
    <div class="container-fluid text-center">
      <div class="row"></div>
        {% for attribution in page.attributions %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <p>{{ attribution.text }}</p>
        </div>
        {% endfor %}
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <p>Chameleon Cloud is funded by a grant from the National Science Foundation.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
