<footer>
  <div class="jumbotron">
    <div class="container-fluid text-center">
      <div class="row"></div>
        {% for attribution in site.data.attributions %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <h2>{{ attribution.text }}</h2>
        </div>
        {% endfor %}
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <p>Chameleon Cloud is funded by a grant from the National Science Foundation.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
