<header>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img style="width: 20px; height: auto;" alt="{{ site.title_short }}" src="{{ site.baseurl }}/images/oci.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              {% for item in site.pages %}
              {% if item.nav %}
                <li class="{% if item.url == page.url %}active{% endif %}"><a href="{{ item.url }}">{{ item.title }}{% if item.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--links at end of nav bar go here-->
            </ul>
        </div>
    </div>
</nav>

</header>
