<!DOCTYPE html>
<html>

<head>

  {% include head.html %}

</head>

<body>

  {% include header.html %}

  <div class="container-fluid">

    {% include chameleon_contents.html %}

    <div class="row">

      <div class="col-xs-12" style="margin-bottom: 20px;">{{ content }}</div>
      
    </div>

    <!--
    <div class="row"><div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 col-xl-offset-4 col-xl-4">

    <div id="disqus_thread" style="margin-top: 20px; margin-bottom: 20px;"></div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'cloudandbigdatalab';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div></div>
-->

</div>

</body>

</html>
